
@{
    ViewBag.Title = "CoreValues";
}

<div style="background-color:rgb(240,240,240)" class="jumbotron">
    <b><h1> Centric Core Values</h1></b>
    <p class="lead">
        <h2>Centric Consulting believes success comes from working together to do good work and serve those around us.</h2>

        <h3>Our core purpose is to create unmatched experiences for clients and employees. An experience like no other is less about the event itself and more about the positive feeling you get from it.</h3>
    </p>

</div>
    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
       
        <div class="container">

            <h2></h2>
            <div style="background-color:rgb(42,25,90)" class="well">

                <p><b><h3 style="color:White;">Delivery Excellence</h3></b></p>
                <p><h4 style="color:White;"> We have a passion for consulting excellence. In all of our projects, we strive to first understand your needs and then deliver on our commitments 100 percent of the time.</h4></p>
            </div>

        </div>





     <html lang="en">
        <head>
            <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>
        <body>

            <div class="container">
                <h2></h2>
                <div style="background-color:rgb(42,25,90)" class="well">
                    <p><b><h3 style="color:White;">Integrity and Openness</h3style="color:White;"></b></p>
                    <p><h4 style="color:White;">We value strong, positive relationships that are open and honest. This differentiates us and allows us to accomplish much more than we would be able to otherwise.</h4style="color:White;"></p>
                </div>





            </div>
            <html lang="en">
            <head>
                <title>Bootstrap Example</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            </head>
            <body>

                <div class="container">
                    <h2></h2>
                    <div style="background-color:rgb(42,25,90)" class="well">
                        <p><b><h3 style="color:White;">Responisble Stewardship</h3style="color:White;"></b></p>
                        <p><h4 style="color:White;">We value stewardship and fiscal accountability and always strive to do more with less. We guard and conserve company resources as if they were our own because it makes good business sense at all times, not just during lean times.</h4style="color:White;"></p>
                    </div>





                </div>
                <html lang="en">
                <head>
                    <title>Bootstrap Example</title>
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                </head>
                <body>

                    <div class="container">
                        <h2></h2>
                        <div style="background-color:rgb(42,25,90)" class="well">
                            <p><b><h3 style="color:White;">Exceptional Culture</h3style="color:White;"></b></p>
                            <p><h4 style="color:White;">We aim to hire and retain talented people from diverse backgrounds who can create a high impact for our clients and internally within our company.</h4style="color:White;"></p>
                        </div>

                </body>
            </html>




            </div>
            <html lang="en">
            <head>
                <title>Bootstrap Example</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            </head>
            <body>

                <div class="container">
                    <h2></h2>
                    <div style="background-color:rgb(42,25,90)" class="well">
                        <p><b><h3 style="color:White;">Passion</h3style="color:White;"></b></p>
                        <p><h4 style="color:White;">We take pride in our commitment to improving the world in which we live and actively preserving our environment for future generations. We are steadfast in our devotion to the communities we serve and actively promote employee involvement in community improvement projects.</h4style="color:White;"></p>
                    </div>

            </body>
            </html>



            </div>
            <html lang="en">
            <head>
                <title>Bootstrap Example</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            </head>
            <body>

                <div class="container">
                    <h2></h2>
                    <div style="background-color:rgb(42,25,90)" class="well">
                        <p><b><h3 style="color:White;">Innovate</h3style="color:White;"></b></p>
                        <p><h4 style="color:White;">We value passion, determination, perseverance, and innovation. We are inspired because we believe in what we are doing and where we are going. We believe in using innovation to remove obstacles and help you succeed.</h4style="color:White;"></p>
                    </div>

            </body>
            </html>



            </div>
            <html lang="en">
            <head>
                <title>Bootstrap Example</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            </head>
            <body>

                <div class="container">
                    <h2></h2>
                    <div style="background-color:rgb(42,25,90)" class="well">
                        <p><b><h3 style="color:White;">Balanced Life</h3style="color:White;"></b></p>
                        <p><h4 style="color:White;">Our employees are our greatest asset. Because of that, we encourage our people to strive for balance in their life, and we monitor projects to ensure our employees have time for family, community and personal interests.</h4style="color:White;"></p>
                    </div>

            </body>
            </html>
