
@{
    ViewBag.Title = "CoreValues";
}

<div style="background-color:rgb(240,240,240)" class="jumbotron">
    <b><h1> Centric Core Values</h1></b>
    <p class="lead">
        <h2>Centric Consulting believes success comes from working together to do good work and serve those around us.</h2>

        <h3>Our core purpose is to create unmatched experiences for clients and employees. An experience like no other is less about the event itself and more about the positive feeling you get from it.</h3>
    </p>

</div>
    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
       
        <div class="container">

            <h2></h2>
            <div style="background-color:rgb(42,25,90)" class="well">

                <p><b><h3 style="color:White;"> Always being willing to help.</h3></b></p>
                <p><h4 style="color:White;"> Not only do we do what it takes to help our colleagues and clients, but we are always on the lookout for ways to make a positive impact.</h4></p>
            </div>

        </div>





     <html lang="en">
        <head>
            <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>
        <body>

            <div class="container">
                <h2></h2>
                <div style="background-color:rgb(42,25,90)" class="well">
                    <p><b><h3 style="color:White;">Treating clients like friends – because that’s what you become.</h3style="color:White;"></b></p>
                    <p><h4 style="color:White;">Our clients are treated with the same adoration and respect we give our friends, which often leads to deeper and more positive relationships.</h4style="color:White;"></p>
                </div>





            </div>
            <html lang="en">
            <head>
                <title>Bootstrap Example</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            </head>
            <body>

                <div class="container">
                    <h2></h2>
                    <div style="background-color:rgb(42,25,90)" class="well">
                        <p><b><h3 style="color:White;">Doing what it takes – together.</h3style="color:White;"></b></p>
                        <p><h4 style="color:White;">Your success is our success so we work hard to ensure you have what you need, and work to figure it out together.</h4style="color:White;"></p>
                    </div>





                </div>
                <html lang="en">
                <head>
                    <title>Bootstrap Example</title>
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                </head>
                <body>

                    <div class="container">
                        <h2></h2>
                        <div style="background-color:rgb(42,25,90)" class="well">
                            <p><b><h3 style="color:White;">Putting you first.</h3style="color:White;"></b></p>
                            <p><h4 style="color:White;">We strive to put others before ourselves in an authentic way without any expectation of a payoff.</h4style="color:White;"></p>
                        </div>

                </body>
            </html>

