@{
    ViewBag.Title = "Home Page";
}

<div  class="jumbotron">
    <h1>Centric Consulting</h1>
    <p class="lead">
        <h2>Enjoy the people you work with, have fun, and do great work.</h2>

        <h3>Not only do these blocks serve as our model for consulting, but they’ve created a culture that values team unity and collaboration. We enjoy working together, alongside you, to create personalized solutions for your business.</h3>
    </p>
    <p><a  href="https://centricconsulting.com/" style="background-color:rgb(255,182,18)" class="btn btn-primary btn-lg"> Centric Conculting Website &raquo;</a></p>
</div>


<!--CORE VALUES-->
<div class="row">
    <div class="col-md-4">
        <h2>Centric Core Values</h2>
        <p>
            <h4>Centric Consulting believes success comes from working together to do good work and serve those around us.</h4> <br />
            Our core purpose is to create unmatched experiences for clients and employees. An experience like no other is less about the event itself and more about the positive feeling you get from it.
        </p>
        <p><a style="background-color:rgb(255,182,18)" class="btn btn-default" @Html.ActionLink("Centric Core Values", "CoreValues", "Home") &raquo;</a></p>
        
    </div>


    <!--REFER A CO-WORKER-->
    <div class="col-md-4">
        <h2>Recognize a Co-worker</h2>
        <p>
            At Centric, we not only focus on understanding our values, we want to live through them. When a team member goes above and beyond and truly represents one of our values, they should be recognized for their actions!
        </p>
        <p><a style="background-color:rgb(255,182,18)" class="btn btn-default" @Html.ActionLink("Refer Co-worker", "Create", "Refers") &raquo; </a> </p>

    </div>



    <!--GAMIFICATION-->
    <div class="col-md-4">
        <h2>Leader Board and Hall of Fame</h2>
        <p>See the current standings of your fellow employees!</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
        <p><a style="background-color:rgb(255,182,18)" class="btn btn-default" @Html.ActionLink("View Leaderboard", "LeaderBoard", "Home") &raquo;</a></p>
    </div>
</div>